  
  .center-content {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  